<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (gameStarted)="onGameStarted($event)" 
      (gameStopped)="onGameStopped($event)">
      </app-game-control>
    </div>
  </div>

  <div class="row" *ngFor="let counter of gameCounter">
    <div class="col-xs-6" *ngIf="counter.count % 2 === 0 else oddTmplate">
      <app-even [counter]="counter.count"></app-even>
    </div>
    <ng-template #oddTmplate>
      <div class="col-xs-6">
        <app-odd [counter]="counter.count"></app-odd>
      </div>
    </ng-template>

  </div>

</div>